.list-category-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    padding: 10px;
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fae8f7;
    overflow-x: auto;
    scrollbar-width: none;   /* Hide scrollbar for Firefox */
  }

  .list-category-filter::-webkit-scrollbar {
    display: none;           /* Hide scrollbar for Chrome, Safari */
}
  
  .category-filter {
    display: flex;          /* Sets the layout of each category item to Flexbox */
    flex-direction: column; /* Stacks image and text vertically */
    align-items: center;    /* Centers image and text horizontally */
    cursor: pointer;        /* Changes the cursor to indicate that the item is clickable */
  }
  
  .category-filter:hover {
    transform: scale(1.05);
  }
  
  .category-img {
    width: 100px;
      height: 100px;
      margin-right: 10px;
      border-radius: 50%;  /* Makes the image circular */
      object-fit: cover;   /* Ensures the image covers the circle without stretching */
  }
  
  .category-filter p{
    margin-top: 8px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
  }